.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  background-color: $bg-color-primary;
  color: $font-color-primary;
  height: toRem(366);

  // 600px
  @include respond(phone) {
    height: toRem(275);
  }

  &__header {
    @include footerHeader;
    margin-bottom: $margin-bottom-m;

    // 600px
    @include respond(phone) {
      margin-bottom: $margin-bottom-s;
    }
  }

  &__content {
    display: flex;

    // 600px
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }

    & p {
      margin-left: toRem(10);
    }

    & svg {
      height: toRem(16);
      width: toRem(16);
    }

    &> :not(:last-child) {
      margin-right: toRem(48);

      // 900px
      @include respond(tab-port) {
        margin-right: toRem(32);
      }

      // 600px
      @include respond(phone) {
        margin-right: 0px;
        margin-bottom: $margin-bottom-s;
      }
    }

  }

  &__email,
  &__link {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $font-color-primary;
    text-decoration: none;
  }

}