.hero {
  display: grid;
  grid-template-columns: $padding-desktop 1fr $padding-desktop;
  grid-template-rows: .2fr 1fr .2fr;
  height: 100vh;
  background-color: $bg-color-primary;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
  margin-bottom: $section-margin-bottom-large;

  //1200px
  @include respond(tab-land) {
    grid-template-columns: $padding-tab-land 1fr $padding-tab-land;
  }

  //900px
  @include respond(tab-port) {
    flex-direction: column;
  }

  //600px
  @include respond(phone) {
    grid-template-columns: $padding-phone 1fr $padding-phone; 
  }

  &__nav {
    display: flex;
    grid-column: 2 / span 3;
    margin: toRem(45) toRem(45) 0px auto;

    // 600px
    @include respond(phone) {
      top: toRem(25);
      right: toRem(25);
    }

    &-link {
      @include fontMediumBold24($font-color-primary);
      text-decoration: none;
      transition: all 0.3s;
      list-style: none;

      //900px
      @include respond(tab-port) {
        font-size: toRem(32);
        font-size: toRem(32);
      }
    }

    &-link:hover {
      color: $font-color-secondary;
    }

    &-link::after {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: $bg-color-tertiary;
      border-radius: $border-radius-large;
      opacity: 0;
      margin-top: 5px;
      transition: opacity 0.3s;
    }

    &-link:hover::after {
      opacity: 1;
    }
  }

  &__nav > :not(:last-child) {
    margin-right: toRem(15);
  }

  &__avatar {
    border-radius: 100%;
    background-color: $bg-color-tertiary;
    margin-right: 6.3%;
    grid-column: 2;
    grid-row: 2;

    //1200px
    @include respond(tab-land) {
      margin-right: 3%;
    }

    //900px
    @include respond(tab-port) {
      margin-right: 0px;
      margin-bottom: toRem(15);
    }

    & img {
      border-radius: 100%;
    }

  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;

    //900px
    @include respond(tab-port) {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: toRem(25);
    }
  }

  &__body > :not(:last-child) {
    line-height: toRem(60);
  }

  &__description,
  &__header {
    font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
    background: -webkit-linear-gradient(45deg, $font-color-primary 50%, $font-color-secondary 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  &__author {
    @include fontXLBold40($font-color-primary);
    font-size: clamp(2.5rem, 2.0833rem + 1.8519vw, 3.75rem);
  }
}
