.mobile-nav {

  &__link {
    text-decoration: none;
  }

  &__sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: $bg-color-primary;
    transition: all 0.2s ease;
    transform: translateX(100%);


    &--open {
      transform: translateX(0);
    }

    & li {
      font-size: toRem(32);
      color: $font-color-primary;
      list-style: none;
      margin-bottom: $margin-bottom-small;
      border: solid 5px $bg-color-tertiary;
      border-radius: $border-radius-small;
      padding: toRem(10);
      transition: all 0.3s;
    }

    & li:hover {
      color: $font-color-secondary;
    }
  }
}
