// TODO: Fix the menu for mobile. It's not opening on mobile.
.mobile-nav {
  &__link {
    color: $font-color-primary;
    text-decoration: none;

    &:hover {
      color: $font-color-secondary;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: $padding-tab-port;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background-color: $bg-color-primary;
    transition: all 0.2s ease;
    transform: translateX(100%);

    // 600px
    @include respond(phone) {
      padding: $padding-phone;
      width: 35%;
    }

    &--open {
      transform: translateX(0);
    }

    & li {
      font-size: $font-size-clamp-s-l;
      color: $font-color-primary;
      list-style: none;
      text-align: center;
      margin-bottom: $margin-bottom-s;
      transition: all 0.3s;
    }
  }
}