.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
  padding: toRem(20);
  gap: toRem(50);
  background-color: $bg-color-quaternary;
  box-shadow: -8px 10px 5px rgb(0 0 0 / 10%);
  border-radius: $border-radius-large;

  // 900px
  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr 0.5fr 0.5fr;
    gap: toRem(25);
  }

  // 600px
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 2fr 0.25fr 0.25fr;
    gap: toRem(0);
    row-gap: toRem(25);
  }

  &:not(:last-child) {
    margin-bottom: toRem(50);
  }

  &__header {
    @include fontLargeBold32($font-color-tertiary);
    grid-row: 1;
    grid-column: 1 / span 2;
    align-self: end;

    // 900px
    @include respond(tab-port) {
      grid-column: 1 / -1;
    }

    // 600px
    @include respond(phone) {
      grid-column: 1;
    }
  }

  &__body {
    z-index: 100;
    color: $font-color-primary;
    padding: toRem(30) toRem(35);
    width: 80%;
    background-color: $bg-color-primary;
    grid-column: 1 / 4;
    grid-row: 2;
    border-radius: $border-radius-small;
    text-decoration: none;
    transition: opacity .3s;

    // 900px
    @include respond(tab-port) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      width: 100%;
      opacity: 0.8;
      padding: toRem(15) toRem(17.5);
    }

    // 600px
    @include respond(phone) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &__body:hover {
    // 900px
    @include respond(tab-port) {
      opacity: 0;
    }
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    grid-column: 1 / 3;
    grid-row: 3;

    // 900px
    @include respond(tab-port) {
      flex-direction: column;
      grid-row: 2;
      align-self: center;
    }

    // 600px
    @include respond(phone) {
      grid-column: 1;
      grid-row: 3;
      flex-direction: row;
    }

    &-item {
      @include fontMediumBold24($font-color-tertiary);
      font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
      border: toRem(5) solid $bg-color-tertiary;
      padding: toRem(10) toRem(15);
      margin-bottom: toRem(10);
      border-radius: $border-radius-small;

      &:not(:last-child) {
        margin-right: toRem(10);

        // 600px
        @include respond(phone) {
          margin-bottom: toRem(10);
        }
      }
    }
  }

  &__links {
    display: flex;
    grid-column: 1;
    grid-row: 4;

    // 900px
    @include respond(tab-port) {
      grid-row: 3;
      align-self: end;
    }

    // 600px
    @include respond(phone) {
      grid-column: 1;
      grid-row: 4;
    }
  }

  &__link:not(:last-child) {
    margin-right: toRem(5);
  }

  &__image,
  &__image-link {
    cursor: pointer;
    grid-column: 3 / -1;
    justify-self: right;
    grid-row: 1 / -1;
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;

    // 900px
    @include respond(tab-port) {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
    }

    // 600px
    @include respond(phone) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &__image::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $bg-color-primary;
    height: 100%;
    width: 100%;
    z-index: 50;
    opacity: 0.8;
    transition: opacity 0.3s;

// 900px
@include respond (tab-port) {
  visibility: hidden;
}

  }

  &__image:hover::before {
    opacity: 0;
  }
}
