.skills {
  margin-bottom: $section-margin-bottom-large;

  &__heading {
    margin-bottom: $margin-bottom-xl;
    text-align: center;
    @include sectionHeader;

    // 1200px
    @include respond (tab-land) {
      margin-bottom: $margin-bottom-l;
    }

    // 900px
    @include respond (tab-port) {
      margin-bottom: $margin-bottom-m;
    }

    // 600px
    @include respond (phone) {
      margin-bottom: $margin-bottom-s;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.5fr);
    gap: toRem(32);

    // 900px
    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    // 375px
    @include respond(phone-small) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    position: relative;
    padding: $padding-desktop;
    border-radius: $border-radius-small;
    @include boxShadow($box-shadow-color-primary);
    background-image: linear-gradient(45deg,
        rgba(201, 173, 167, 0.2),
        rgba(242, 233, 228, 0.5));
    width: 100%;
    height: 100%;

    // 1200px
    @include respond(tab-land) {
      padding: $padding-tab-land;
    }

    // 900px
    @include respond(tab-port) {
      padding: $padding-tab-port;
    }

    // 600px
    @include respond(phone) {
      padding: $padding-phone;
    }

    // 375px
    @include respond(phone-small) {
      width: 50%;
    }

  }

  &__item-icon {
    align-self: center;
    justify-self: center;
    margin-bottom: $margin-bottom-m;

    // 900px
    @include respond(tab-port) {
      height: toRem(175);
      width: toRem(175);
      margin-bottom: $margin-bottom-s;
    }

    // 600px
    @include respond(phone) {
      height: toRem(100);
      width: toRem(100);
    }
  }

  &__item-skill {
    font-family: $font-family-secondary;
    // 24px - 32px
    font-size: $font-size-clamp-l-xl;
    color: $font-color-tertiary;
    line-height: 100%;
  }
}